$buttons-bg-color: #267df4;
$buttons-text-color: #fff;
$links-main-text-color: #26272d;
$paragraphs-text-color: #8c8f94;
$price-card-bg-color: #ebebed;
$input-button-color: #6fc754;
$input-button-color-hover: #43b443;


$hover-transition: .2s ease-in-out;
$white: #fff;
$black: #000;
$paragraphs-bg-color: #f5f5f8;
$form-border-color: rgba(38,41,44,.15);
$form-border: 1px solid $form-border-color;